canvas {
width: 100%;
height: 100%;
display: block;
}
      
.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('/ProjectFiles/MineColony/Build/TemplateData/progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('/ProjectFiles/MineColony/Build/TemplateData/progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('/ProjectFiles/MineColony/Build/TemplateData/progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('/ProjectFiles/MineColony/Build/TemplateData/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('/ProjectFiles/MineColony/Build/TemplateData/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('/ProjectFiles/MineColony/Build/TemplateData/progressFull.Dark.png');}

.webgl-content .u-footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .u-footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .u-footer .webgl-logo {background-image: url('/ProjectFiles/MineColony/Build/TemplateData/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .u-footer .title {margin-right: 10px; float: right;}
.webgl-content .u-footer .fullscreen {background-image: url('/ProjectFiles/MineColony/Build/TemplateData/fullscreen.png'); width: 38px; float: right;}
